<table>

  <thead>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">BBR</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Каналы</a></li>
        <li><a href="#">Погода</a></li>
        <li><a href="#">Новости</a></li>
      </ul>
    </div>
  </nav>

  </thead>


  <tbody>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>	
    
    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
    
  </tbody>
 
  <tfooter>
  
  </tfooter>
</table>