<!DOCTYPE html>
<html>
  <table>

    <thead>
    <meta charset="win1251">
    <title>BBR</title>

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">BBR</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn">Каналы</a></li>
          <li><a class="waves-effect waves-light btn">Новости</a></li>
          <li><a class="waves-effect waves-light btn">Погода</a></li>
        </ul>
      </div>
    </nav>

    </thead><br/><br/>


    <tbody>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>	
      <table>
        <tr>
          <td><iframe width="100%" height="360" src="https://www.youtube.com/embed/Ga3maNZ0x0w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
          <td><iframe width="100%" height="360" src="https://www.youtube.com/embed/K59KKnIbIaM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
          <td>
            <iframe width="100%" height="360" src="https://www.youtube.com/embed/yA30K3z5PSw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </td>
        </tr>
        <tr>
          
        </tr>
      </table>

    
      
    </tbody>
   
    <tfooter>
    
    </tfooter>
  </table>
</html>